body{
    background-color: rgb(250, 250, 65);
}
h1{
    text-align: center;
    color: red;
}

.contenaire{
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #ffffff;
  color: black;
  width: 300px;
  height: 170px;

}


#titt{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 90px;
   text-align: center;
}
#btn{
    margin-top: 20px;
background-color: #fdfdfd;
height: 40px;
width: 120px;
font-weight: bold;
color:black;
font-size: 25px;
border-color: white;
border-style: none;
border-top-left-radius: 10px;
border-bottom-right-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

